<div class="container">

	<button class="btn-success btn-block button-new mx-auto" type="button" onclick="location.href='/new'">
		New Count
	</button>

	<ul class="list-inline">
		<% @counts.each do |count| %>

			<li class="list-inline-item counter">
				<div class="counter">

						<a href="/count/<%= count.id %>">
							<div class="image" style="background-image: url(<%= count.img %>)">
								<h1 class="text-white"><%= count.title %></h1>
									<p class="display-3 text-white"><%= count.number %></p>
							</div>

						</a>


						<form action="/count/<%= count.id %>>/plus" method="post">
								<button type="submit" class="btn-primary btn-block">+</button>
						</form>

				</div>


			</li>


		<% end %>

	</ul>









</div>
