<div class="container">
  <div class="row justify-content-center" style="margin-top:10px">

      <img src="<%= current_user.img %>"
       class="img-fluid rounded-circle" style="width:300px">


  </div>

  <div class="row justify-content-center">
    <div>
      <h1 class="display-4"><%= current_user.name %></h1>
    </div>
  </div>


  <ul class="list-inline">
		<% @users.each do |user| %>

			<li class="list-inline-item counter">
				<div class="counter">

						<a href="/count/<%= user.count.id %>">
							<div class="image" style="background-image: url(<%= user.count.img %>)">
								<h1 class="text-white"><%= user.count.title %></h1>
									<p class="display-3 text-white"><%= user.count.number %></p>
							</div>

						</a>


						<form action="/count/<%= user.count.id %>>/plus" method="post">
								<button type="submit" class="btn-primary btn-block">+</button>
						</form>

				</div>


			</li>


		<% end %>

	</ul>



</div>
